
GDExtension/target/

R-NaD/venv/
communication-mod/communication-mod.pck
R-NaD/__pycache__/

tmp/
**/__pycache__/
R-NaD/checkpoints/
bin/
R-NaD/tmp_venv/
R-NaD/build/
R-NaD/libpython_fixer.cpython-312-x86_64-linux-gnu.so
mlflow.db
mlruns/

.aider*

StS2_Decompiled/
R-NaD/logs/
